---
import { Formatter } from '@/utils/formatter';
import type { GetStaticPaths } from 'astro';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import BlogLayout from '@/layout/BlogLayout.astro';
import { Icon } from 'astro-icon/components';

export const getStaticPaths = (async () => {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;

const frontmatter = post.data;

const { Content, headings } = await post.render();
const author = await getEntry('author', post.data.author.id);
---

<BlogLayout title={frontmatter.title}>
  <h1 class="text-xs font-semibold text-slate-300 italic mb-0">
    {frontmatter.title}
  </h1>
  <!-- <h4 class="text-sm text-slate-500 mb-2">Author: {frontmatter.author.id}</h4> -->

  <!-- Show the author info -->
  <div class="text-md text-gray-400 mb-0 flex flex-row mt-2">
    {author && (
      <Image
      src={author.data.avatar}
      class="rounded-full"
      alt={author.data.name}
      width={50}
      height={50}
    />

    <div class="flex flex-col ml-5">
      <a href={`/blog/${frontmatter.author.id}`}>{author.data.name}</a>
      <span class="text-xs text-gray-200">
        {Formatter.formatDate(frontmatter.date)}
      </span>
    </div>
    )}
  </div>

  <!-- Show the image post -->

  <Image
    src={frontmatter.image}
    alt={frontmatter.title}
    width={500}
    height={500}
    class="rounded-md object-cover h-60 w-full my-5"
    transition:name={`${post.slug}-image`}
  />

  <!-- Through the headings array, can create a table of contents based on the headings of the markdown  -->

  <h3>Table of Contents</h3>
  <ul>
    {
      headings.map((heading, index) => (
        <li>
          <a href={`#${heading.slug}`}>
            {index + 1}. {heading.text}
          </a>
        </li>
      ))
    }
  </ul>

  <!-- Render the content from the Markdown file -->
  <Content />

  <!-- Back to top -->

  <div class="flex flex-col items-center space-y-0 fixed bottom-5 right-5">
    <a href="#btn-back"><Icon name="Arrow-top" class="text-2xl md:text-3xl" /></a>
    <p class="hidden xl:block">Back to top</p>
  </div>
</BlogLayout>
