---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import MainLayout from "@/layout/MainLayout.astro";
import TypeBlogPost from "@/components/TypeBlogPost.astro";

  export const getStaticPaths = (async({ paginate }) => {

    const posts = await getCollection('blog');
    
    return paginate(posts, { pageSize: 2 })
  }) satisfies GetStaticPaths;

  const { page } = Astro.props;
---

<MainLayout>
  <div class="py-10 mx-auto">
    <a href="/" class="text-blue-800 hover:underline hover:ease-in hover:duration-300">Back</a>
    <h1 class="text-3xl font-semibold capitalize lg:text-4xl text-slate-300">
      Paginate Blog
    </h1>
  </div>

  <section class="bg-slate-900" aria-label="Entradas de blog">
    <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
      {page.data.map((post) => <TypeBlogPost post={post} />)}
    </div>
  </section>

  <section aria-label="Controles" class="flex justify-around items-center mt-10">

<!--   page .. ?? prev   -->
    <a
      href={page.url.prev}
      id="controls"
      class:list={{
        disabled: !page.url.prev,
      }}>Anteriores</a
    >

<!-- page number -->

    <span class="text-slate-300">page: {page.currentPage} de {page.lastPage}</span>
    
<!--   page .. ?? next   -->
    <a
      href={page.url.next}
      id="controls"
      class:list={{
        disabled: !page.url.next,
      }}>Siguientes</a
    >
  </section>
</MainLayout>

<style>


  #controls {
    @apply bg-blue-500 text-white p-2 rounded hover:bg-blue-600 cursor-pointer;
  }

  .disabled {
    @apply bg-gray-600 hover:bg-gray-600;
  }
</style>